<nav>
  <a href="{{ site.baseurl }}/">Início</a>
  <a href="{{ site.baseurl }}/mapa/mapa.html">Mapa 2016-2025</a>
  <a href="{{ site.baseurl }}/ndvi_historico/ndvi_historico.html">Histórico 1947-2024</a>
  <a href="{{ site.baseurl }}/interiores/interiores_quarteiroes.html">Verde Privado</a>
  <a href="{{ site.baseurl }}/acessibilidade/acessibilidade_verde.html">Acessibilidade</a>
  <a href="{{ site.baseurl }}/acessibilidade/conversao_verde.html">Propostas</a>
  <a href="{{ site.baseurl }}/atropelamentos/dashboard_atropelamentos.html">Atropelamentos</a>
  <a href="{{ site.baseurl }}/artigos/">Artigos</a>
  <a href="{{ site.baseurl }}/sobre/">Sobre</a>
</nav>
